attach-list
comment
component-add
components
create
createmeta
debug
edit
editmeta
epic-create
epic-list
fields
issuelinktypes
issuetypes
json
list
request
subtask
table
transition
transitions
transmeta
view
worklog
worklogs
