[include]
	path = ~/.gitconfig_local
[color]
	ui = auto
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	renames = copies
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[alias]
	ap = add --patch
	cm = commit --message
	ds = diff --staged
	st = status --short --branch
	undo = reset --soft HEAD~
[core]
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
