[color]
	ui = true
[push]
	default = simple
[diff]
	renames = copies
	colorMoved = default
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[alias]
	ap = add --patch
	cm = commit --message
	ds = diff --staged
	st = status --short --branch
	undo = reset --soft HEAD~
	up = !git fetch && git rebase --autostash FETCH_HEAD
[help]
	autocorrect = 1
[user]
	name = Rupert Bedford
	email = 182958+rupert@users.noreply.github.com
[core]
	editor = nvim
	pager = delta
[submodule]
	recurse = true
[fetch]
	prune = true
[pull]
	rebase = true
[interactive]
	diffFilter = delta --color-only
[delta]
    navigate = true
[merge]
    conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
