[color]
	ui = auto
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[diff]
	renames = copies
[branch]
	autosetuprebase = always
[credential]
	helper = osxkeychain
[alias]
	ap = add --patch
	cm = commit --message
	ds = diff --staged
	st = status --short --branch
	undo = reset --soft HEAD~
	up = !git fetch && git rebase --autostash FETCH_HEAD
[help]
	autocorrect = 1
[user]
	name = Rupert Bedford
	email = rupert@rupertb.com
[core]
	editor = /usr/bin/vim
[submodule]
	recurse = true
[fetch]
	prune = true
[pager]
	diff = diff-so-fancy | less -RFX
	show = diff-so-fancy | less -RFX
[url "git@github.com:"]
	insteadOf = "https://github.com/"
