"*":
  core:
    telemetryConsent: "no"
  editor:
    fontFamily: "Consolas"
  "exception-reporting":
    userId: "64327914-a3a6-0355-5d49-353aec9e7c33"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
